.App {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

html, body, #root, .App {
 height: 100%;
}

body {
 background-color:#f2f2f2;
}

.nav-bar{
  background-color: white ;
  padding: 15px;
  flex-shrink: 1;
  margin-bottom: 5em;
}
a {
  margin: 20px;
}

.inicio {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.perfil{
  display: flex;
  justify-content: space-evenly;
}
/*  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 margin-top: 3em;
}
/* formularuo */
form {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  width: 450px;
 
}

.title {
  color: black;
  font-size: 36px;
  font-weight: 600;
}

/* letras nombre */
.input-container {
  height: 50px;
  width: 100%;
  margin-top: 30px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

/* cuadros de relleno  */
.input {
  background-color: #f2f2f2;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:#808097;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

/* iniciar sesion */
.placeholder {
  left: 20px;
  line-height: 14px;
  font-size: 18px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  top: 20px;
}

.input:not([value='']) ~ .placeholder {
  opacity: 0;
}

.input[value=''] ~ .placeholder {
  color: #808097;
  opacity: 1;
}

.input:focus {
  border:1px solid#08d;
}


.submit {
  background-color: #08d ;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.list {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  padding-top: 20px;
  
}
.list-dog{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
}

li{
  list-style: none;
}

.image-dog {
 width: 80px;
 height: 80px;
 border: 2px solid white;
 border-radius: 50%;
}

.list-name.dog{
  font-family: sans-serif;
}

.container-details {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cart-details {
  background-color: white;
  border-radius: 39px;
  box-sizing: border-box;
  padding: 30px;
  width: 650px;
  height: 500px;
  margin-top: 110px;
  padding-top: 0px;
  
}

.cart-text {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.cart-text2 {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.cart-button {
  display: flex;
  flex-direction: row;
  align-items: center ;
}

.button {
  background-color: #08d ;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 50px;
  align-items: center ;
  
}

.image-details{
  border-radius: 12px;
  border: 0;
  width: 180px;
  height: 200px;
}

.container-events{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
  height: 100%;
}
.cart-events {
  background-color: white;
  border-radius: 39px;
  box-sizing: border-box;
  padding: 40px;
  width: 650px;
  height: 500px;
  margin-top: 110px;
  padding-top: 10px;
}
.button-a単adir{
  background-color: #08d ;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 13px;
  width: 55px;
  height: 25px;

}
.button-cerrar {
  background-color: #08d ;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 13px;
  width: 100px;
  height: 25px;
}
.input-a単adir {
  background-color: #f2f2f2;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:#808097;
  font-size: 15px;
  height: 10%;
  outline: 0;
  padding: 3px 20px 0;
  width: 50%;
  
}
.forn-a単adir {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
 
}
.list-a単adir{
  font-family: sans-serif;
  font-size: 15px;
  align-items: center;

}
.title2{
  font-family: sans-serif;
  font-size: 18px;
}

.isLoading{
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: gainsboro;
}

.error404 {
  background-image: url("../public/error-404-faunaencasa-ogg.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  
  
}




