.App {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body, #root, .App {
  height: 100%;
}

body {
 background-color:#f2f2f2;
}

.nav-bar{
  background-color: white ;
  padding: 15px;
}
a {
  margin: 20px;
}

.inicio {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.perfil{
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;

  padding: 30px;
  width: 320px;

}

.title {
  color: black;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}



.input {
  background-color: #f2f2f2;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color:black;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.placeholder {
  color: #808097;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  top: 20px;
}

.input:not([value='']) ~ .placeholder {
  opacity: 0;
}

.input[value=''] ~ .placeholder {
  color: #808097;
  opacity: 1;
}

.input:focus {
  border:1px solid#08d;
}


.submit {
  background-color: #08d ;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

